html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
  max-width: 100vw;
}

html {
  /* height: 100%; */
  width: 100%;
  overflow-x: hidden;
}

#menu {
  background: #000000;
  color: #fff;
  height: 60px;
  padding-right: 50px;
}


#logodisapper{
  display: none;
   line-height: 60px;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}

#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  padding-left: 1%;
}
#menu ul{
  padding-left: 10%;
  width: 100%;
}

#menu .logo-text1{
  display: none;
}

#menu .logo-text{
  padding-right: 15%;
}

#menu .logo-symbol{
  font-size: .6em;
  right: -0.7em;
}

#menu .menu-button{
  margin-left: 20vh;
  padding: 0;
  margin-bottom: 0;

}

#menu li {
  display: inline-flex;
}
#menu a {
  display: block;
  line-height: 45px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
#menu li a:hover {
  color: #0099cc;
  text-decoration: underline;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 45px;
  position: absolute;
}
#menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  margin-top: 45px;
  overflow: hidden;
  width: fit-content;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
  padding-left: 0;
  padding-right: 0;
}
#menu ul.sub-menus li {
  display: block;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
  justify-items: center;
}
#menu ul.sub-menus a:hover {
  padding-left: 50px;
  padding-right: 50px;
  background: #f2f2f2;
  color: #444444;
}
.logo {
  position: relative;
  height: 43px;
  display: flex;
  flex-direction: end;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {


  #menu label {
    display: none;
    line-height: 45px;
    text-align: right;
    position: absolute;
    /* left: auto; */
    right: 40px; /* Added */
  }
  #menu {
    position: relative;
  }
  #menu ul {
    background: #111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: #0099cc;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
  #menu .menu-button{
  display: block;
  padding-top: 0; 
  padding-bottom: 10%;
  margin-left: 20px;
  margin-top: 5px; 
}

  #logodisapper{
    display: none;
  }
#menu .logo-text{
  display: none;
}

#menu .logo-text1{
  display: block;
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 4vh;
}
}


.para {
  display: inline-block;
  margin-left: 10%;
  padding: 0;
  background-color: white;
  /* width: 100%; */
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  /* overflow-x: hidden; */
}

.para label {
  font-size: 18vh;
  line-height: 0.9;
  /* font-stretch: ultra-expanded; */
  margin-bottom: 5%;
  /* padding-bottom: 10%; */
  font-weight: 700;
  width: 50%;
}


.btn:hover {
  background-color: #d9e017;
}

.para p {
  width: 70%;
  font-size: 4vh;
  padding: 0;
  margin: 5px;
  inline-size: 1;
  font-weight: 50;
  opacity: 80%;
  opacity: 0.7;
  font-stretch: ultra-expanded;
}

  .btn {
  background-color: #f1fb53;
  height: 40px;
  width: 150px;
  border-radius: 15px;
  font-size: large;
  color: black;
  margin-top: 30px;
}
.btn a {
  color: black;
}

.bottom {
  display: block;
  padding: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.bottom label {
  inline-size: 0;
  font-size: 3.6dvw;
  font-stretch: ultra-expanded;
}

.col {
  background-color: #f0f0f0;
  overflow-x: hidden;
  width: 100vw;
}

.parallax {
  background-image: url("parallax.jpg");
  /* border-radius: 50%; */
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .parallax {
    overflow-x: hidden;
    width: 100%;
    height: 250px;
    margin: 0;
  }
  .para {
    margin-left: 0;
    padding: 5%;
    margin-right: 10%;
  }

  .para label {
    font-size: 13vw;
    font-weight: 700;
    padding-bottom: 0;
  }



  .para p {
    font-size: 3.5vw;
    /* margin-right: 10%; */
    width: 90%;
    padding-top: 0;
  }
}

.follower {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.4;
  pointer-events: none; /* Make sure the cursor doesn't interfere with other elements */
  /* z-index: 9999; */
  /* transform: translate(-50%, -50%); */
}

.learn {
  background-color: black;
  color: white;
  display: block;
  position: relative; /* Add position relative to the container */
  /* bottom: 90vh; */
  overflow: hidden;
}

.learn hr {
  width: 95%;
  height: 1px;
  border: 1px solid rgb(86, 85, 85);
}

.learn .first {
  margin-left: 5%;
  padding-top: 5%;
  font-size: 9.5vw;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.learn .oone,
.learn .ttwo,
.learn .tthree,
.learn .ffour {
  display: inline-block;
  margin-left: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: margin-left 1s, margin-top 1s;
}

.learn .hh1 {
  width: 100%;
  overflow-x: hidden;
  font-size: 1.5vw;
  padding: 5px;
  position: relative;
}

.learn h1 {
  width: fit-content;
  font-size: 4vw;
  font-weight: 700;
  margin: 0;
  position: relative;
}
.learn h1::before {
  content: "";
  position: absolute;
  top: 55%;
  width: 100%;
  height: 30%;
  background-color: #a3a7b0;
  opacity: 0;
}

.learn .oone:hover h1::before,
.ttwo:hover h1::before,
.tthree:hover h1::before {
  opacity: 0.5;
}

.learn .ffour {
  font-size: 2vw;
}

.learn .oone:hover,
.learn .ttwo:hover,
.learn .tthree:hover {
  margin-left: 5.5%;
  margin-top: 3%;
}

.dot-container {
  display: block;
  margin-top: 3%;
}

/* bigb */

/* Base Styles (for all screen sizes) */

.dot-container {
  display: block;
  margin-top: 3%;
  padding-left: 20%;
}

.dot {
  height: 2px;
  width: 15px;
  background-color: black;
  display: block;
  cursor: pointer;
  margin-bottom: 8px;
}

.bigb {
  position: relative;
  display: inline-block;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.perma {
  margin-top: 7px;
}

.parent {
  display: flex;
  margin-left: 50px;
  margin-top: 20%;
  font-size: 10dvb; /* Check if this value is correct, it seems unusual */
  color: white;
  text-indent: 20px;
}

.slideshow-container {
  width: 100%;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

.text {
  padding: 8px;
  bottom: 8px;
  width: 100%;
}

.fade {
  animation: fade-bottom;
  animation-duration: 1s;
}

.parent button {
  height: 120px;
  width: 19%;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  margin-left: 10%;
}

/* Responsive Styles for Phone Screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .parent {
    overflow-x: hidden;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center align items on smaller screens */
    text-align: center; /* Center align text on smaller screens */
    margin-left: 5%; /* Remove left margin */
    margin-top: 30%; /* Adjust margin for smaller screens */
    font-size: 8vh; /* Adjust font size for better readability on smaller screens */
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .parent button {
    height: 100px;
    width: 19%;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    margin-left: 10%;
  }

  .slideshow-container {
    width: 100%; /* Make the container wider for smaller screens */
  }

  .active,
  .dot:hover {
    background-color: transparent; /* Remove background color on smaller screens */
  }

  .des {
    margin-top: 15%;
  }

  .dot-container {
    margin-top: 10%;
    align-content: center;
    margin-right: 15%;
  }
}

/* next page */
.container12 {
  display: block;
  overflow-x: hidden;
}

.ptwo {
  /* top: 150px; */
  margin-top: 20vh;
  text-align: center;
  display: block;
  background-color: #fcdc49;
  padding: 0.01cm;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ctext {
  padding-top: 80px;
  padding-bottom: 100px;
}

.ctext .t1 {
  color: black;
  font-size: 15vw;
  width: 100%;
  font-stretch: 200%;
  line-height: 0.7;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  border: 1px solid white;
  margin: 0;
  padding: 0;
}

.scroll-menu {
  padding: 10px;
  font-weight: 500;
  font-variant: normal;
  white-space: nowrap;
  display: inline-block;
  width: 90%;
  animation: scroll 15s linear infinite;
  animation-timing-function: linear; /* Add this to ensure a continuous scroll */
}

@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.pthree {
  background-color: #232325;
  color: white;
}

.container.ptwo.ctext.t1.a {
  transform: skewY(-20deg);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll2 {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateY(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 18s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slide-track-reverse {
  animation: scroll2 18s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
}

.stopscroll {
  height: 100%;
}

.scrollbar {
  overflow: auto;
}


#section100{
  background-color: white;
  height: fit-content;
  color: black;
  /* overflow-x: hidden; */
}

.letstalk {
  display: flex;
  align-items: center;
  justify-content: center;
}
.letstalk p {
  position: relative;
  /* bottom: -20px; */
  font-size: 180px;
}
/* .footer1 table{
  left: 2%;
} */
.td1 {
  padding-left: 10%;
  padding-right: 10%;
  width: 30%;
}
.anchortags {
  position: relative;
  top: 100px;
  left: 45%;
  width: 10%;
}
.anchortags a {
  text-decoration: none;
  color: black;
  line-height: 130%;
}
input {
  position: relative;
  left: 10%;
  bottom: 90%;
  text-decoration: none;
}
.input-container {
  margin-bottom: 3%;
}
input[type="email"] {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 17%;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
.tablex {
  position: relative;
  right: 60%;
}
.submit {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: relative;
  left: 30%;
  bottom: 5vw;
}
.tabley {
  position: relative;
  left: 72%;
  bottom: 130px;
}
.tablex {
  position: relative;
  left: 2.2%;
}
.tdy {
  position: relative;
  left: 2%;
}
.iconsx{
    font-size: x-large;
  }


@media screen and (max-width: 800px) {
  .ctext .t1 {
    font-size: 11vh;
  }
  .letstalk p {
    font-size: 3.5rem;
  }
  .tablex td {
    font-size: 0.8rem;
    width: 30%;
  }
  .tabley {
    position: relative;
    position: 72%;
  }
  .tabley td {
    font-size: 0.8rem;
  }
  .anchortags a {
    font-size: 0.9rem;
  }
  .anchortags {
    position: relative;
    bottom: 2%;
  }
  input[type="email"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 30%;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
  }
  .submit {
    position: relative;
    left: 20%;
    top: 3px;
  }
  
}





.section3x {
  height: auto;
  background-color: black;
  padding-top: 0%;
  margin-top: 0;
}

.containerxyzx {
  background-position: center;
  background-color: black;
  background-size: cover;
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.containerxyzx p {
  color: white;
  font-size: 5vw;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  /* overflow: hidden; */
}
.containerxyzx p span.typed-text {
  font-weight: normal;
  color: palevioletred;
}
.containerxyzx p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.containerxyzx p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
.tableck1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 90px;
  /* padding: 40px; */
  width: 70%;
  height: auto;
  /* overflow-x: hidden; */
  color: #fff;
}

.tabler {
  position: relative;
  /* left: 7%; */
  top: 7%;
  width: 100%;
}

.tablehx {
  color: #fff;
  text-align: center;
}
.tablepx {
  color: gray;
  /* padding: 30px; */
  text-align: center;
}
.h3 {
  color: #fff;
  font-size: larger;
}
.im1x {
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.comefromleft {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 1s, transform 2s;
  background-color: black;
}

.comefromright {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s, transform 2s;
  background-color: black;
}

.comefromleft.active,
.comefromright.active {
  opacity: 1;
  transform: translateX(0);
}

.design {
  width: 80%;
  margin-left: 10%;

  align-items: center;
}
.design h1 {
  position: relative;
  width: 100%;
  right: 4%;
  font-size: 4vw;
  line-height: 1.5;
  text-align: center;
  line-height: normal;
  color: #fff;
  padding: 3%;
}
.design p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  color: gray;
  width: 100%;
  font-size: 2vw;
  position: relative;
  right: 2%;
  text-align: center;
}
.section3y {
  height: auto;
  background-color: black;
}
.sec3im {
  width: 80%;
  margin-left: 9.5%;
  position: relative;
  top: 70px;
}
.section3z {
  height: auto;
  background-color: white;
}
.tablerx {
  position: relative;
  left: 7.5%;
  /* top: 25.5%; */
  width: 75%;
  margin-top: 190px;
  margin-bottom: 120px;
  margin-left: 7.5%;
  /* right: 8%; */
}

.tableimg {
  width: 60%;
  position: relative;
  height: 50%;
  bottom: 7%;
  /* right: 8%; */
}
.tablehx {
  width: 100%;
  /* margin-right: 30px; */
}
.tableh1 {
  font-size: 4vw;
  padding: 2%;
}
.tablep {
  padding: 2%;
  font-size: 1.5vw;
  color: gray;
  line-height: 1.5;
}

.wrapper span {
  color: palevioletred;
}
.static-txt {
  color: white;
}

.table2 {
  /* position: relative;
  top: 36%;
  left: 16%; */
  padding: 10px;
  width: 70%;
  border: 2px solid gray;
  border-radius: 12px;
  height: 120px;
  margin: auto;
  margin-bottom: 80px;
}
.table2 h3 {
  padding: 10px;
}
.table2 p {
  color: gray;
  padding: 10px;
}

.pink {
  color: palevioletred;
}
.divth1 {
  /* position: relative; */
  /* top: 32%; */
  width: 90%;
  margin: auto;
  margin-bottom: 80px;
  /* left: 5%; */
  text-align: center;
}
.dspan {
  color: aqua;
}
.divp {
  font-size: 49px;
  color: black;
}
.divp1 {
  font-size: 23px;
  color: gray;
}













#horizontal-section {
  left: 0;
  top: 100vh;
}


.sticky-wrapper {
  width: 100%;
  top: 1px;
  position: sticky;
  overflow: hidden;
}
.element-wrapper{
  position: relative;
  display: flex;
}

.charity {
  width: 100vw;
  height: 100%;
  /* background-color: red; */
  flex-shrink: 0;
  display: flex;
}


.slideshowimg{
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* opacity: br; */filter: brightness(75%);
}


.char11{
  position: absolute;
  color: white;
  font-size: 8vh;
  bottom: 120px;
  padding-left: 5%;
  white-space: nowrap;
  font-weight: 500;
  z-index: 1;
}

.char12{
  position: absolute;
  color: white;
  font-size: 2.6vh;
  bottom: 50px;
  width: 45%;
  font-weight: 500;
  padding-left: 5%;
  z-index: 1;
}

.char112{
  margin-left: 2%;
}

.char13{
  position: absolute;
  color: white;
  font-size: 2.6vh;
  bottom: 120px;
  left: 85%;
  border: 0.1px solid rgb(255, 255, 255, 0.5);
  width: fit-content;
  font-weight: 300;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  z-index: 1;
}

.char23{
  position: fixed;
  color: white;
  font-size: 2.6vh;
  /* bottom: 120px; */
  bottom: 120px;
  /* left: 50px; */
  margin-left: 85%;
  border: 0.1px solid rgb(255, 255, 255, 0.5);
  width: fit-content;
  font-weight: 300;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  z-index: 1;
  height: fit-content;
}

.char14{
   position: absolute;
  color: white;
  font-size: 2.6vh;
  bottom: 60px;
  left: 67%;
  border: 0.1px solid rgb(255, 255, 255, 0.5);
  width: fit-content;
  font-weight: 300;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  z-index: 1;
}
.char15{
 position: absolute;
  color: white;
  font-size: 2.6vh;
  bottom: 60px;
  left: 80%;
  border: 0.1px solid rgb(255, 255, 255, 0.5);
  width: fit-content;
  font-weight: 300;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  z-index: 1;
}

.char24{
  position: fixed;
  color: white;
  font-size: 2.6vh;
  /* bottom: 120px; */
  bottom: 60px;
  /* left: 50px; */
  margin-left: 68%;
  white-space: nowrap;
  border: 0.1px solid rgb(255, 255, 255, 0.5);
  width: fit-content;
  font-weight: 300;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  z-index: 1;
  height: fit-content;
}
.char25{
  position: fixed;
  white-space: nowrap;
  color: white;
  font-size: 2.6vh;
  /* bottom: 120px; */
  bottom: 60px;
  /* left: 50px; */
  margin-left: 80%;
  border: 0.1px solid rgb(255, 255, 255, 0.5);
  width: fit-content;
  font-weight: 300;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  z-index: 1;
  height: fit-content;
}

.char16{
  position: absolute;
  color: black;
  background-color: white;
  border-radius: 50%;
  height: 60px;
  padding-top: 20px;
  width: 80px;
  font-weight: 1000;
  word-wrap: break;
  /* align-items: center; */
  pointer-events: none;
  text-align: center;
  border: 2px solid white;
  display: none;
  transform: translate(-50%, -50%);
  transition: .1s;
}

 .char26, .char36, .char46{
  position: absolute;
  color: black;
  background-color: white;
  border-radius: 50%;
  height: 60px;
  padding-top: 20px;
  width: 80px;
  font-weight: 1000;
  word-wrap: break;
  align-items: center;
  pointer-events: none;
  text-align: center;
  border: 2px solid white;
   display: none;
   transform: translate(-50%, -50%);
  transition: .1s;
}

.cursor{
  top: 0px;
  left: 0px;
  position: fixed;
}

.dot{
  top: -20px;
  left: -20px;
  position: fixed;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #C05C54;
  z-index: 9999;
  mix-blend-mode: multiply;
  pointer-events: none;
  will-change: transform;
  transform: scale(1);
  transition: 0.2s all;
}


@media screen and (max-width: 800px) {
  .tableck1{
    display: none;
  }
}
.tableck1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 90px;
  /* padding: 40px; */
  width: 70%;
  height: auto;
  color: #fff;
}

.tabler {
  position: relative;
  /* left: 7%; */
  top: 7%;
  width: 100%;
}

.tablehx {
  color: #fff;
  text-align: center;
}
.tablepx {
  color: gray;
  /* padding: 30px; */
  text-align: center;
}
.h3 {
  color: #fff;
  font-size: larger;
}
.im1x {
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.comefromleft {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 1s, transform 2s;
}

.comefromright {
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s, transform 2s;
}

.comefromleft.active,
.comefromright.active {
  opacity: 1;
  transform: translateX(0);
}

.design {
  width: 80%;
  margin-left: 10%;

  align-items: center;
}
.design h1 {
  position: relative;
  width: 100%;
  right: 4%;
  font-size: 4vw;
  line-height: 1.5;
  text-align: center;
  line-height: normal;
  color: #fff;
  padding: 3%;
}
.design p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  color: gray;
  width: 100%;
  font-size: 2vw;
  position: relative;
  right: 2%;
  text-align: center;
}
.section3y {
  height: auto;
  background-color: black;
}
.sec3im {
  width: 80%;
  margin-left: 9.5%;
  position: relative;
  top: 70px;
}
.section3z {
  height: auto;
  background-color: white;
}
.tablerx {
  position: relative;
  left: 7.5%;
  /* top: 25.5%; */
  width: 75%;
  margin-top: 190px;
  margin-bottom: 120px;
  margin-left: 7.5%;
  /* right: 8%; */
}

.tableimg {
  width: 60%;
  position: relative;
  height: 50%;
  bottom: 7%;
  /* right: 8%; */
}
.tablehx {
  width: 100%;
  /* margin-right: 30px; */
}
.tableh1 {
  font-size: 4vw;
  padding: 2%;
}
.tablep {
  padding: 2%;
  font-size: 1.5vw;
  color: gray;
  line-height: 1.5;
}
.tablerx2 {
  display: none;
}
.wrapper span {
  color: palevioletred;
}
.static-txt {
  color: white;
}

.table2 {
  /* position: relative;
  top: 36%;
  left: 16%; */
  padding: 10px;
  width: 70%;
  border: 2px solid gray;
  border-radius: 12px;
  height: 120px;
  margin: auto;
  margin-bottom: 80px;
}
.table2 h3 {
  padding: 10px;
}
.table2 p {
  color: gray;
  padding: 10px;
}

.pink {
  color: palevioletred;
}
.divth1 {
  /* position: relative; */
  /* top: 32%; */
  width: 90%;
  margin: auto;
  margin-bottom: 80px;
  /* left: 5%; */
  text-align: center;
}
.dspan {
  color: aqua;
}
.divp {
  font-size: 49px;
  color: black;
}
.divp1 {
  font-size: 23px;
  color: gray;
}

#section4 {
  height: auto;
}
.anchorz {
  text-decoration: none;
  color: #fff;
}
.copy {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  background-color: rgba(18, 18, 18, 0.7);
  height: 100%;
  padding: 0px;
}
.container1 {
  opacity: 0.9;
}
.slider {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  /* overflow: hidden; */
}
.slide {
  display: block;
  background-size: cover;
  overflow: hidden;
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
  height: 660px;
  width: 25%;
  display: block;
  border: 0.5px solid white;
}

.fourth {
  background-color: rgba(18, 18, 18, 0.7);
  z-index: 2;
}
.paraz {
  position: relative;
  width: 70%;
  top: 210px;
  left: 60px;
  opacity: 0;
  transition: 0.7s ease;
}
.pre-header {
  position: relative;
  top: 100px;
  left: 60px;
}
.h3 {
  position: relative;
  width: 50%;
  top: 120px;
  left: 60px;
}
.viewz {
  position: relative;
  top: 410px;
  left: 60px;
  width: 30%;
  height: 40px;
  display: none;
}
.viewzz {
  position: relative;
  top: 410px;
  left: 60px;
  width: 30%;
  height: 40px;
  display: inline-block;
}
.slide:hover .paraz,
.first:hover .paraz {
  opacity: 1;
}
.slider:hover .slide {
  background-image: url(images/2x.jpeg);
  background-repeat: no-repeat;
  z-index: 15;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  display: flex;
}
.slide {
  width: 25%;
  height: 700px;
  background-size: cover;
  background-position: center;
  transition: all 0.7s ease;
}
.slide:hover {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.first:hover ~ .slide .viewzz {
  background-image: url(images/1x.jpeg);
}
.second:hover ~ .slide {
  background-image: url(images/2x.jpeg);
}
.third:hover ~ .slide {
  background-image: url(images/3x.jpg);
}
.fourth:hover ~ .slide {
  background-image: url(images/4x.jpg);
}

.viewzz {
  display: none;
  /* Add styles for the button */
  transition: all 0.3s ease;
}

.first:hover .viewzz {
  display: none;
  transition: all 0.3s ease;
}

.first:hover .viewz {
  display: inline-block;
  transition: all 0.3s ease;
}

.second:hover .viewzz {
  display: none;
  transition: all 0.3s ease;
}
.second:hover .viewz {
  display: inline-block;
  transition: all 0.3s ease;
}

.third:hover .viewzz {
  display: none;
  transition: all 0.3s ease;
}
.third:hover .viewz {
  display: inline-block;
  transition: all 0.3s ease;
}
.fourth:hover .viewzz {
  display: none;
  transition: all 0.3s ease;
}

.fourth:hover .viewz {
  display: inline-block;
  transition: all 0.3s ease;
}

#section5 {
  height: 100vh;
  background-color: white;
}

.section5 {
  background-color: black;
  width: 100vw;
}

.section-4 {
  max-width: 1040px;
  padding-top: 60px;
  margin: auto;
  display: flex;
  min-height: 100vh;
  background-color: black;
  color: #fff;
}
.section-4-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-4-left-content {
  padding: 0 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}
.section-4-left-heading {
  font-size: 70px;
  line-height: 70px;
  letter-spacing: -3.15px;
  white-space: pre-line;
  opacity: 0.9;
  font-weight: 700;
}
.section-4-left-desc {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 600px;
  margin-top: 52px;
}
.section-4-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.section-4-right-placeholder {
  max-width: 322px;
  max-height: 480px;
  position: sticky;
  top: 180px;
  box-shadow: rgb(250 250 255 / 16%) 0px -5px 6px 0px inset,
    rgb(38 37 37 / 24%) 4px 6px 11px 1px inset;
  border-radius: 46px;
  padding: 16px 14px;
}
.section-4-right-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 46px;
}

#section8 {
  height: 120px;
  background-color: white;
}
.contactlink {
  display: flex;
  align-items: center;
  background-color: #f1fb53;
  height: 78px;
  color: black;
  font-style: italic;
  font-size: 27px;
  display: flex;
  position: relative;
  bottom: 33px;
}
.contactlink p {
  position: relative;
}
.contactlink a {
  color: black;
}

.letstalk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}
.letstalk p {
  position: relative;
  bottom: -20px;
  font-size: 180px;
}
/* .footer1 table{
left: 2%;
} */
.td1 {
  padding-left: 10%;
  padding-right: 10%;
  width: 30%;
}
.anchortags {
  position: relative;
  top: 100px;
  left: 45%;
  width: 10%;
}
.anchortags a {
  text-decoration: none;
  color: black;
  line-height: 130%;
}
input {
  position: relative;
  left: 10%;
  bottom: 90%;
  text-decoration: none;
}
.input-container {
  margin-bottom: 3%;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="email"] {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 17%;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
.tablex {
  position: relative;
  right: 60%;
}
.submit {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: relative;
  left: 28%;
  bottom: 5vw;
}

.tabley {
  position: relative;
  left: 72%;
  bottom: 130px;
}
.tablex {
  position: relative;
  left: 2.2%;
}
.tdy {
  position: relative;
  left: 2%;
}
.iconsx {
  font-size: x-large;
}
#section4one {
  display: none;
}

@media (max-width: 800px) {
  #horizontal-section{
    display: none;
  }
  .follower{
    display: none;
  }
  .design h1 {
    position: relative;
    width: 100%;
    right: 4%;
    font-size: 8vw;
    line-height: 1.5;
    text-align: center;
    line-height: normal;
    color: #fff;
    padding: 3%;
  }
  .design p {
    display: block;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    color: gray;
    width: 100%;
    font-size: 5vw;
    position: relative;
    right: 2%;
    text-align: center;
    padding-bottom: 5%;
  }
  #section4 {
    display: none;
  }

  #section4one {
    display: block;
    padding-bottom: 10%;
    padding-right: 2.5%;
    columns: white;
    padding-top: 10%;
  }
  #section4one button {
    margin-top: 2.5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 0.5%;
  }
  #section4one h3 {
    padding-left: 2.5%;
    color: white;
  }
  #section4one p {
    padding-left: 2.5%;
    color: white;
    padding-bottom: 1%;
  }
  #section4one button {
    margin-left: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 1%;
    margin-bottom: 20%;
  }

  #section4one .imgg {
    padding-right: 0;
    height: 40%;
    width: 102.5%;
  }

  #section3 {
    background-color: black;
    color: black;
    height: 10vh;
  }
  .sec3im {
    width: 95%;
    margin-left: 2.5%;
    position: relative;
    top: 70px;
  }
  .h1 {
    position: relative;
    width: 90%;
    top: 10%;
    font-size: 4vw;
    left: 10%;
    height: fit-content;
  }
  .psec2 {
    color: gray;
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .tablerx {
    position: relative;
    left: 7.5%;
    /* top: 25.5%; */
    width: 75%;
    margin-top: 190px;
    margin-bottom: 120px;
    margin-left: 7.5%;
    /* right: 8%; */
  }

  .tabler {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
  }
  .tbd {
    display: table;
    width: 100%;
  }
  .tbd > tr {
    display: block;
    width: auto;
  }
  .tbd > td {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    position: relative;
  }
  .tablehx,
  .tablepx {
    display: block;
    padding: 5px;
    /* font-size: 10vw; */
  }
  .tablep {
    padding: 2%;
    font-size: 3.5vw;
    color: gray;
    line-height: 1.5;
  }
  .tableimg {
    width: 90%;
    height: auto;
    padding-right: 5%;
  }
  .tablerx {
    display: none;
  }
  .tablerx2 {
    display: block;
    padding-top: 40%;
    padding-bottom: 30%;
    padding-left: 3.5%;
    padding-right: 2.5%;
  }
  .tableh1 {
    font-size: xx-large;
  }
  .tablep {
    font-size: 2.2vh;
  }
  .tableimg {
    padding-left: 5%;
  }
}

.tableck2 {
  display: none;
}
@media screen and (max-width: 800px) {
  .tableck1 {
    display: none;
  }
  .tableck2 {
    display: block;
    position: relative;
    bottom: 120px;
  }
  .tableck2 tr {
    margin: 120px;
  }
  .h1 {
    position: relative;
    top: 60px;
  }
  .letstalk p {
    font-size: 3.5rem;
  }
  .tablex td {
    font-size: 0.8rem;
    width: 30%;
  }
  .tabley {
    position: relative;
    position: 72%;
  }
  .tabley td {
    font-size: 0.8rem;
  }
  .anchortags a {
    font-size: 0.9rem;
  }
  .anchortags {
    position: relative;
    bottom: 2%;
  }
  input[type="email"] {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    width: 32%;
    font-size: 13px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
  }
  .submit {
    position: relative;
    left: 20%;
    top: 3px;
  }
  
}